@model Xsis.Model.Sertifikasi

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Sertifikasi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.delete_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delete_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.delete_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delete_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_delete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_delete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.biodata_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biodata_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.certificate_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.certificate_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valid_start_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valid_start_year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valid_start_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valid_start_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.until_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.until_year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.until_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.until_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
